     <header>
	   <%= link_to logo, root_path %>
	   <nav>
	     <ul>
		   <li><%= link_to "Über uns", about_path %></li>
		   <li><%= link_to "Kontakt", contact_path %></li>
		   <li><%= link_to "So funktioniert's", help_path %></li>
		 </ul>
	   </nav>
	   <nav id="navActions" class="round">
	     <ul>
		   <li><%= link_to "Verkauf ab Lager", '#' %></li>
		   <li><%= link_to "Verkauf ab Baustelle", '#' %></li>
		   <li><%= link_to "Suchauftrag", '#' %></li>
		   <li><%= link_to "Newsletter", '#' %></li>
		 </ul>
	   </nav>
	 </header>